<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>56958772101-blrb63hg4v4ln2pk7jov5c0bvecvja88.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.56958772101-blrb63hg4v4ln2pk7jov5c0bvecvja88</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>56958772101-itc5s2q4il7ibk5mn8hrt3ac9dpvcqet.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD6erCWVE8NcbwV4-0KY8g2Rq4zs3XOfpI</string>
	<key>GCM_SENDER_ID</key>
	<string>56958772101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.reevaluation.rere</string>
	<key>PROJECT_ID</key>
	<string>rere-f695e</string>
	<key>STORAGE_BUCKET</key>
	<string>rere-f695e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56958772101:ios:b9d25efa8fe85b2a0e1aec</string>
</dict>
</plist>